body {
    background-image: url('imagens/fundo.png');
}

#geral {
    width: 900px;
    
}

.menu {
    background-color: #c5c5b2;
    padding: 18px;
}

.menu a {
    padding: 18px;
    text-decoration: none;
}

.description {
    background-color: white;
    
    padding: 10px;
}

.description h2 {
    margin-top: 5px;
}

.description p {
    text-align: justify;
}